{% extends 'shared/base.html' %}
{% block body %}
{% include 'admin/shared/navbar.html' %}
{% include 'admin/shared/delete_form.html' %}
<div class="container mx-auto">
    <div class="">
        <span class="text-3xl dark:text-white">住宿生基本資料</span>
    </div>
    <!-- <div class="grid justify-items-center">
        <table>
            <thead>
                <tr>
                    <th class="p-2 text-center">國家</th>
                    <th class="p-2 text-center">房號</th>
                    <th class="p-2 text-center">床號</th>
                    <th class="p-2 text-center">姓名</th>
                </tr>
            </thead>

            <tbody>
                {% for item in student_list %}
                <tr class="">
                    <td class="px-10 py-2 text-center">{{ item.country }}</td>
                    <td class="px-10 py-2 text-center">{{ item.room }}</td>
                    <td class="px-10 py-2 text-center">{{ item.bed }}</td>
                    <td class="px-10 py-2 text-center">{{ item.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->

    <div class="relative shadow-md sm:rounded-lg overflow-hidden">



        <table class="w-full table-fixed text-sm text-center text-gray-500 dark:text-gray-400">
            <caption
                class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                <div class="md:flex md:justify-between">
                    <div class="">
                        住宿生基本資料
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">開發人員感覺快要掛了，因為懶對所以此處沒有搜尋功能
                        </p>
                    </div>
                    <div class="">
                        <label for="table-search" class="sr-only">Search</label>
                        <div class="relative mt-1">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="text" id="table-search"
                                class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search for items">
                        </div>
                    </div>
                </div>

            </caption>

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="md:px-6 py-3">
                        國家
                    </th>
                    <th scope="col" class="md:px-6 py-3">
                        房號
                    </th>
                    <th scope="col" class="md:px-6 py-3">
                        床號
                    </th>
                    <th scope="col" class="md:px-6 py-3">
                        姓名
                    </th>
                    <th scope="col" class="md:px-6 py-3">
                        動作
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in student_list %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="md:px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item.country }}
                    </th>
                    <td class="md:px-6 py-3">
                        {{ item.room }}
                    </td>
                    <td class="md:px-6 py-3">
                        {{ item.bed }}
                    </td>
                    <td class="md:px-6 py-3">
                        {{ item.name }}
                    </td>
                    <td class="flex items-center justify-center md:px-6 py-3 space-x-3">
                        <div>
                            <a href="/admin/edit/{{ item.id }}">
                                <div
                                    class="flex flex-wrap justify-center font-medium bg-blue-600 dark:bg-blue-500 p-1 rounded-lg">
                                    <span class="text-white">編</span>
                                    <span class="text-white">輯</span>
                                </div>
                            </a>
                        </div>
                        <div>
                            <button id="{{ item.id }}"
                                class="deleteBtn font-medium bg-red-600 dark:bg-red-500 p-1 rounded-lg">
                                <div class="flex flex-wrap justify-center">
                                    <span class="text-white">刪</span>
                                    <span class="text-white">除</span>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="pagination flex items-center justify-between pt-4" aria-label="Table navigation">
            <span class="px-3 text-sm font-normal text-gray-500 dark:text-gray-400"> 顯示 <span
                    class="font-semibold text-gray-900 dark:text-white">1-10</span> of <span
                    class="font-semibold text-gray-900 dark:text-white">{{ last_page }}</span></span>
            <ul class="inline-flex items-center -space-x-px">
                <li>
                    <a href="?page={{ page_list[0] }}"
                        class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
                {% for current_page in range(1, page_list[5]) %}
                <li>
                    <a href="?page={{ page_list[current_page] }}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{
                        page_list[current_page] }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="#"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                </li>
                <li>
                    <a href="?page={{ last_page }}"
                        class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{
                        last_page }}</a>
                </li>
                <li>
                    <a href="?page={{ page_list[4] }}"
                        class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>


{% endblock %}