{% extends 'shared/base.html' %}
{% block body %}
{% include 'shared/navbar.html' %}
<div class="container mx-auto">
    <span class="text-3xl dark:text-white">最新公告</span>
</div>
<div class="container mx-auto">

    <div class='card w-full h-full'>
        <div class='cover flex justify-center items-center'>
            <div class="">歡迎來到首頁</div>
        </div>
        <div class='back flex justify-center items-center'>
            <span class="text-black">
                <div class="flex justify-center items-center">我肝沒了</div>
                <div class="flex justify-center items-center">歡迎把肝捐給我</div>
            </span>
        </div>
    </div>

</div>

{% endblock %}